/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */



::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: cornflowerblue;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: royalblue;
  }

body{
    font-family: 'Roboto', sans-serif;
    /* background-color: aquamarine !important; */
}
/* *---------------------- */
#nav-container{
    width: 100%;
    position:fixed;
    height: 80px;
    z-index: 2;
    top:0;
}
#nav-container.active{
    background-color:  cornflowerblue;
    color:white;
}

#nav-container.active li a{
    color:white;
}

#nav-bar{
    padding: 30px 10px;
    width:100%;
    z-index: 2;
}

#nav-bar #website-logo{
    float:left;
    padding: 0 30px;
}


#nav-list{
    /* display: none; */
    float:right;
}

#nav-list li{
    display: inline;
}

#nav-list li a{
    color:black;
    padding:10px 20px;
    text-decoration: none;
}

#nav-list li a:hover,#nav-list li a.active{
    
    border-bottom:3px solid cornflowerblue;
}

#nav-container.active #nav-list li a:hover,#nav-container.active #nav-list li a.active{
    border-bottom:3px solid white;

}
/* *---------------------- */


#menu-icon{
    display: none;
    position:fixed;
    top:20px;
    right:30px;
}


#menu-icon .bar{
    display: block;
    width:25px;
    height:3px;
    margin-top: 5px;
    background-color: black;
}
/* *---------------------- */

.cat-menu {
    display:flex;
    height:60px;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid gray;
    border-top: 0.5px solid gray;
    background-color: cornflowerblue;
    margin-top: 70px;
}
.cat-menu div{
    padding: 4px 10px;
}
.cat-menu div a{
    color: white;
   text-decoration: none;
   /* color:black; */
   font-weight: 600;
   transition:0.2s;
}

.cat-menu div a:hover{
    font-size:20px;
    /* color:rgb(2, 141, 255); */
 }
/* *---------------------- */

/* .gig-container{
   
} */

/* *---------------------- */
#gig-section .price-tag{
    cursor:default;
}


.main-cont{
    display: flex;
    /* flex-direction: column; */
    flex-wrap:nowrap;
    justify-content: space-around;
}

#gig-section {
    width:70%;
    /* position:relative; */
    padding: 30px 20px;
    float:left;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gig.card{
    width:250px; 
    margin-bottom: 10px;
     margin-right: 15px;
    border-radius: 2%;
    background-color: #f0f0f0;
    transition: 0.35s;
    position: relative;
}

.gig .card-body{
    color:BLACK;
    background-color: white;
}

.gig:hover{
    box-shadow: 0.1px 0.1px 5px;
    transform: scale(1.03);
}

.gig .card-footer{
    background-color: white;
}

.tbn-img{
    border-bottom:0.5px solid rgb(29, 29, 29);
    width:248.5px;
    height:200px;
}

.gig .wishlist-icon{
    position:absolute;
    bottom:70px;
    right:10px;
    /* top:0; */
    cursor: pointer;
    /* height:40px; */
}

/* *---------------------- */
.search-container1{
    
    width:260px;
    border: 2px solid black;
    border-radius: 99px;
    padding: 0 5px;
    /* height: 42px; */
}

.search-container2{
    border:none;
    width:100%;
}

.search-bar{
    border:none;
}

.search-bar:focus{
    outline: none;
}
/* *---------------------- */

.filters-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:30%;
    width:350px;
    height:100%;
    text-align: center;
    border-right: 1px solid grey;
    /* float:left; */
     margin-top: 30px;
}

.filters-section h5{
    font-weight:600 ;
    color:rgb(0, 0, 0);
}

.filters-section.active{
    display:block;
}

.filters-section:hover{
}
/* *----------------------- */

.mobsort-menu{
    height:200px;
    width:100%;
    display:none;
}

.mobsort-menu.active{
    display:block;
}

.mob-menu{
    display: table;
}

.mob-menu li{
    display: table-row;
}

.mob-menu li input,.mob-menu li input{
    width:50px;
    display: table-cell;
}
/* *----------------------- */

.filters-mobile{
    display:flex;
    flex-direction: row;
    display:none;   
}

.sort-btn{
    color: #f0f0f0;
    /* border-radius: 99px; */
    border-radius: 5%;
    font-weight: 600;
    width:40%;
    padding: 10px;
    margin: 0 5%;
    border: 5px solid white;
    text-align: center;
    cursor: pointer; 
    background-color: cornflowerblue;
}
.sort-btn:hover{
    box-shadow: 0px 0px 10px black;
}


.filter-btn{
    color: #f0f0f0;
    /* border-radius: 99px; */
    border-radius: 5%;
    font-weight: 600;
    width:40%;
    margin: 0 5%;
    padding: 10px;
    border: 5px solid white;
    text-align: center;
    cursor: pointer;
    background-color: cornflowerblue;
}

.filter-btn:hover{
    box-shadow: 0px 0px 10px black;
}
/* *----------------------- */

.price{
    color:rgb(0, 132, 255);
    font-weight: 700;
}

.ft{
    list-style-type: none;
    display: table;
    text-align:center;
    border-spacing: 5px;
}

.ft li{
    display: table-row;
}
.ft li input,.ft li label{
    border-spacing: 5px;
    text-align: start;
    display: table-cell;
}

@media  screen and (max-width:900px) {
       .filters-section{
           /* float:none; */
           display: none;
           border:none;
       }

       .main-cont{
           flex-direction: column;
            align-items: center;
        }

    #gig-section{
        width:100vw;
        float: none;
    }
    .filters-mobile{
        display:block;
        display: flex;
        /* margin-top: 55px; */
    }

    .cat-menu{
        display:none;
    }
    
    .mobsort-menu.active{
        display: block;
        background-color: #f0f0f0;
         display: flex;
        flex-direction: column;
        position:fixed;
         bottom:0;
        z-index:1;
    }

    #nav-container{
        width: 100%;
       display: flex;
       flex-direction: column;
       position: relative;
       /* margin-bottom: 130px; */
    }

    #nav-container.active1{
       margin-bottom: 130px;
       /* background-color: none; */
    }
    #nav-bar #website-logo{
        float: none;
    }

    #nav-list li{
        /* position: static; */
        text-align: center;
        display: block;
        padding: 5px 0;
        /* display: none; */
    }

    #nav-list{
        display: none;
        float:none;
        margin: 0px auto;
    }

    #nav-list.active{
        /* position:relative; */
        display: block;
    }


    #nav-list li a:hover{
      color:white;
      background-color: cornflowerblue;
      border-radius: 5%;
    }

    #nav-list li a.active{
        color:white;
        background-color: cornflowerblue;
        border-radius: 5%;
      }

      #menu-icon{
        position: absolute;
        display: block;
        cursor: pointer;
    }

}